altgraph==0.17.3
blinker==1.6.2
certifi==2023.5.7
charset-normalizer==3.1.0
click==8.1.3
colorama==0.4.6
Flask==2.3.2
idna==3.4
itsdangerous==2.1.2
Jinja2==3.1.2
keyboard==0.13.5
MarkupSafe==2.1.3
MouseInfo==0.1.3
pefile==2023.2.7
pyads==3.3.9
PyAutoGUI==0.9.53
PyDirectInput==1.0.4
PyGetWindow==0.0.9
pyinstaller==5.11.0
pyinstaller-hooks-contrib==2023.3
PyMsgBox==1.0.9
pyperclip==1.8.2
PyRect==0.2.0
PyScreeze==0.1.28
pytweening==1.0.7
pywin32==306
pywin32-ctypes==0.2.0
requests==2.31.0
urllib3==2.0.2
vboxapi==1.0
virtualbox==2.1.1
Werkzeug==2.3.4
